<form action = "/create_trello_webhook" method = "post">
  <input type="submit" name="submit" value="Submit Trello Webhook" />
</form>

<form action = "/create_zendesk_ticket" method = "post">
  <input type="submit" name="submit" value="Submit Zendesk Ticket" />
</form>

<form action = "/get_zendesk_ticket" method = "get">
  <input type="submit" name="submit" value="Get Zendesk Ticket" />
</form>

<form action = "/modify_zendesk_ticket" method = "post">
  <input type="submit" name="submit" value="Modify Zendesk Ticket" />
</form>

<!-- <form action = "/get_trello_list" method = "get">
  <input type="submit" name="submit" value="Get Trello List Name" />
</form> -->

<form action = "/get_trello_card" method = "get">
  <input type="submit" name="submit" value="Get Trello Card" />
</form>

<form action = "/get_trello_list_name" method = "get">
  <input type="submit" name="submit" value="Get Trello List Name" />
</form>

<form action = "/get_trello_attachment" method = "get">
  <input type="submit" name="submit" value="Get Trello Attachment" />
</form>

<form action = "/puts_trello_list_name_on_zendesk_ticket" method = "post">
  <input type="submit" name="submit" value="Put List Name on Zendesk Ticket" />
</form>
